* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
ul.links {
  text-align: left;
}
ul.links li {
  text-decoration: underline;
}
li {
  margin: 10px;
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.contact-img {
  width: 300px;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 20px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header'
    'nav content sidebar'
    'nav footer footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 60px 1fr 70px;
}

header,
footer,
main,
aside,
nav {
  background-color: #eee;
  color: black;
}


/* Navbar */
header {
  grid-area: header;
  background-color: rgba(255, 200, 200, 0.9);
  color: black;
  border-bottom: 3px solid black;
  position: fixed;
  width: 100%;
  height: 70px;
}

header a {
  padding: 10px;
  margin: 0 5px;
}

header h1 {
  color: black;
}

header a:hover {
  border-bottom: 2px black solid;
}
/* end navbar */


nav {
  grid-area: nav;
}
nav .card {
  background-color: dodgerblue;
}

main {
  grid-area: content;
  text-align: center;
}
main .card{
  background-color: rgb(134, 192, 238);
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

.centered {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-items: center;
} 

.form-control {
  display: grid;
}

input {
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 5px 5px rgba(0, 0, 0, 0.3);
  height: 40px;
  padding: 5px;
}

#about {
  height: 400px;
}

.active {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  flex-direction: column;
}

.modal-about,
.modal-features,
.modal-email {
  position: absolute;
  top: 10%;
  left: 10%;
}




