@import url(http://fonts.googleapis.com/css?family=Lobster:400,600,700);

:root {
  --primary-color : #730517;
  --secondary-color : #f44560;
  --third-color : #44d1df;
  --fourth-color : #32a4a7;
  --fifth-color : #1e7069;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
ul.links {
  text-align: left;
}
ul.links li {
  text-decoration: underline;
}
li {
  margin: 10px;
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: #000;
}

img {
  margin: 0;
  padding-top: 10px;
}
.card.contact-img {
  margin: 0;
  padding: 0;
  width: max-content;
  height: max-content;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-weight: 600;
  font-size: 20px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header'
    'nav content sidebar'
    'nav footer footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 70px 2fr 70px;
}

main,
aside,
nav {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  color: black;
}


/* Navbar */
header {
  grid-area: header;
  background-color: var(--third-color);
  color: black;
  border-bottom: 3px solid black;
  position: fixed;
  width: 100%;
  height: 12vh;
  font-family: Lobster;
}

header a {
  padding: 10px;
  margin: 0 5px;
}

header h1 {
  color: black;
  font-size: 2.5rem;

}

header a:hover {
  border-bottom: 2px black solid;
}
/* end navbar */

@media (max-width: 768px) {
  header {
    grid-area: nav;
    height: 100px;
  }
  header h1 {
    font-size: 1.5em;
  }
  header a {
    margin: 0;
  }
  header a:hover {
    border-bottom: 2px black solid;
  }
}
  


nav {
  grid-area: nav;
  font-family: Lobster;
}
nav .card {
  background-color: var(--third-color);
  margin-top: 40px;
}

main {
  grid-area: content;
  text-align: center;
}
main .card{
  background-color: var(--fourth-color);
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
  font-size: xx-small;
  background-color: var(--secondary-color);
}

.centered {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-items: center;
} 

.form-control {
  display: grid;
}

input {
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 5px 5px rgba(0, 0, 0, 0.3);
  height: 40px;
  padding: 5px;
}

#about {
  height: 400px;
}

.active {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to bottom, black, var(--fifth-color));
  color: #eee;
  flex-direction: column;
}

.modal-about,
.modal-features,
.modal-email {
  position: absolute;
  top: 10%;
  left: 10%;
}




